<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tutor.testtaker">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Test Taker"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResultList"></activity>
        <activity android:name=".TestListActivity" />
        <activity android:name=".Animation" />
        <activity android:name=".ViewProfile" />
        <activity android:name=".CreateTest" />
        <activity android:name=".SignUp">
            <intent-filter>
                <action android:name="android.intent.action.SignUp" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MainMenu" />
        <activity android:name=".resultPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.RESULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TestPageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>